<!DOCTYPE html>
<html lang="en">

<head>{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Chat App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'chat/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'chat/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-color: #082032; overflow: hidden;" class="white-text">
  <nav style="background-color:#2C394B" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Chat</a>
    </div>
  </nav>

  {% block content %}

  {% endblock content %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

</body>

</html>