
<!--<input-->
<!--        type="text"-->
<!--        name="search"-->
<!--        hx-post="/search/"-->
<!--        hx-trigger="keyup changed delay:250ms"-->
<!--        hx-indicator=".htmx-indicator"-->
<!--        hx-target="#results"-->
<!--        placeholder="Search"-->
<!--        class="form-control" >-->
<!--<span class="htmx-indicator">Searching...</span>-->

<form  role="search" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
<!--     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
</form>