{% extends 'base.html' %}

{% block head %}
<title> home </title>
{% endblock %}



{% block content %}

      <div class="row mt-4">
        {% for post in posts %}
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 " >
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">

              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div >
<!--                  <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>-->
                  <img src="{{ post.thumbnail.url }}"  class="img-fluid max-width: 100%  height: auto  border-radius-lg py-3 pe-1 " >

                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">{{ post.title }}</h6>
              <p class="text-sm ">Last Campaign Performance</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> {{ post.created }} </p>
              </div>
            </div>
          </div>
        </div>
          {% empty %}
          <h1>No results</h1>
     {% endfor %}
      </div>

     {% include 'base/footer.html' %}
{% endblock %}